doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Welcome
        style 
            include style.css
    body 
        div#myVideo
            video
        div#otherVideo
            video
        div#menu
            button#camera 
            button#mic
            button#quit
        script(src="/public/index.js") 